<div class="col-sm-3 sidenav">
  <h4>Giphy Search</h4>
  <%= form_tag(search_terms_path, method: :get) do %>
    <div class='input-group'>
      <%= select_tag(:order, options_for_select([['Date', 'date'], ['Terms', 'terms'], ['Count', 'count']], params[:order]), { class: 'form-control' }) %>
      <%= submit_tag('Sort', { class: 'btn btn-primary' }) %>
    </div>
  <% end %>
  <ul class="nav nav-pills flex-column">
    <% @search_terms.each do |search_term| %>
      <%= render partial: 'search_term', locals: { search_term: search_term } %>
    <% end %>
    <%= will_paginate @search_terms %>
  </ul><br>
</div>

<div class="col-sm-9">
  <h4><small>Search Gifs</small></h4>
  <%= render partial: 'searches/form' %>
</div>
